---
import { addDays, intervalToDuration } from "date-fns";
import SkillIcon from "../skill-icon.astro";
import { type Skill, skill } from "~/constants/skills";
import Paper from "../paper.astro";
import { t } from "#i18n";

interface Props {
	company: string;
	actions: string[];
	skills: Skill[];
	start: string;
	end?: string;
	location: string;
	job: string;
	site?: string;
}

const { company, actions, skills, start, end, location, job, site } =
	Astro.props;

const startDate = new Date(start);
const endDate = new Date(end ?? Date.now());
const startYear = startDate.getFullYear();
const endYear = endDate.getFullYear();
const duration = intervalToDuration({
	start: startDate,
	end: addDays(endDate, 1),
});
const interval =
	startYear === endYear ? startYear : `${startYear} - ${endYear}`;
const yearsText = "year" + ((duration.years ?? 0) > 1 ? "s" : "");
const monthsText = "month" + ((duration.months ?? 0) > 1 ? "s" : "");
let years = duration.years ? `${duration.years} ${yearsText}` : "";
let months = duration.months ? `${duration.months} ${monthsText}` : "";
if (years && months) {
	years = `+${years}`;
	months = "";
}
const durationText = `${interval} | ${years}${months}`;
---

<Paper class="h-full" label={t("site.work.work-at", { company })}>
	<div class="flex justify-between text-xl">
		<h4 class="font-bold">{company}</h4>
		{
			site && (
				<a
					class="icon-[tabler--link]"
					aria-label={t("site.work.site", { company })}
					href={site}
					target="_blank"
					rel="noreferrer"
				/>
			)
		}
	</div>
	<span class="sr-only">
		{
			t("site.work.worked", {
				startYear,
				endYear,
				duration: years || months,
				location,
			})
		}
	</span>
	<div class="mt-1 text-sm font-light" aria-hidden="true">
		<time>{durationText}</time>
		-
		<span>{location}</span>
	</div>
	<h5 class="mt-3 text-lg">{job}</h5>
	<ul
		class="font-light list-disc grow"
		aria-label={t("site.work.what-did", { company })}
	>
		{actions.map((action) => <li class="ml-6">{action}</li>)}
	</ul>
	<ul class="sr-only" aria-label={t("site.work.skills-at", { company })}>
		{
			skills.map((item) => (
				<li>
					<span>{item}</span>
				</li>
			))
		}
	</ul>
	<ul
		aria-hidden="true"
		class="flex gap-1.5 mt-4 flex-wrap-reverse flex-row-reverse"
	>
		{
			skills.reverse().map((item) => (
				<li>
					<SkillIcon {...skill(item)} />
				</li>
			))
		}
	</ul>
</Paper>
